<template>
  <div class="fixed w-screen">
    <div class="relative bg-gray-900 shadow-xl flex flex-row justify-between items-center">
      <router-link to="/s" class="flex flex-row justify-between items-center text-white">
        <img class="w-16 my-2 ml-10" src="/static/images/logo2.png" alt="Logo" />
        <p class="font-bold text-md">Aula Virtual</p>
      </router-link>

      <div class="flex flex-row justify-between items-center mx-4">
        <router-link
          to="/s"
          class="flex flex-row justify-between items-center text-white mx-3 focus:text-primary"
        >
          <icon :class="home" :icon="['fas', 'home']" />
          <p class="mx-1" />
          <p :class="home" class="font-bold text-sm">Inicio</p>
        </router-link>

        <div
          v-if="!add"
          @click="add = !add"
          class="flex flex-row justify-between items-center text-white mx-3 cursor-pointer"
        >
          <icon class="mx-2" :icon="['fas', 'plus']" />
          <p class="font-bold text-sm">Agregar</p>
        </div>
        <div
          v-if="add"
          class="flex flex-row justify-between items-center text-white mx-3 cursor-pointer border-b border-white"
        >
          <input type="text" placeholder="Codigo" class="bg-transparent w-24" />
          <icon @click="add = !add" class="mx-2" :icon="['fas', 'plus']" />
        </div>

        <div
          v-if="!search"
          @click="search = !search"
          class="flex flex-row justify-between items-center text-white mx-3 cursor-pointer"
        >
          <icon class="mx-2" :icon="['fas', 'search']" />
          <p class="font-bold text-sm">Buscar</p>
        </div>
        <div
          v-if="search"
          class="flex flex-row justify-between items-center text-white mx-3 cursor-pointer border-b border-white"
        >
          <input type="text" placeholder="Buscar" class="bg-transparent w-40" />
          <icon @click="search = !search" class="mx-2" :icon="['fas', 'search']" />
        </div>

        <div @click="profile = !profile" class="relative pb-8 w-8 inline-block mx-3 cursor-pointer">
          <img
            class="absolute rounded-full h-full w-full object-cover inline-block"
            :src="profileImage(user)"
            alt="Profile Picture"
          />
        </div>
      </div>
    </div>

    <div v-if="profile" class="flex flex-row justify-end mr-4 -mt-1">
      <div class="bg-white fixed rounded-lg shadow-2xl">
        <div class="flex flex-row justify-between items-center my-3 mx-3">
          <router-link to="/s/edit">
            <div class="relative pb-20 w-20 inline-block mr-3 cursor-pointer">
              <img
                class="absolute rounded-full h-full w-full object-cover inline-block"
                :src="profileImage(user)"
                alt="Profile Picture"
              />
            </div>
          </router-link>
          <div class="flex flex-col items-start">
            <p class="font-bold text-lg">{{ user.name }}</p>
            <p class="text-sm">{{ user.email }}</p>
          </div>
        </div>

        <div class="border-b border-gray-300"></div>

        <div class="my-1 text-sm text-gray-800 bg-white">
          <router-link to="/s/edit" class="hover:bg-blue-400">
            <button
              class="cursor-pointer flex flex-row justify-start items-center w-full hover:bg-blue-500 hover:text-white"
            >
              <icon class="ml-5 my-2 mr-2" :icon="['fas', 'cogs']" />
              <p>Editar perfil</p>
            </button>
          </router-link>

          <button
            class="cursor-pointer flex flex-row justify-start items-center w-full hover:bg-blue-500 hover:text-white"
          >
            <icon class="ml-5 my-2 mr-2" :icon="['fas', 'question']" />
            <p>Ayuda</p>
          </button>

          <div>
            <button
              @click="onLogout"
              class="cursor-pointer flex flex-row justify-start items-center w-full hover:bg-blue-500 hover:text-white"
            >
              <icon class="ml-5 my-2 mr-2" :icon="['fas', 'sign-out-alt']" />
              <p>Cerrar Sesión</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { User } from '@/interfaces';
import { ACTIONS as AuthActions } from '@/store/modules/auth';
import { MUTATIONS as CourseMutations } from '@/store/modules/course';
import { profileImage } from '@/utils/resource';

export default Vue.extend({
  data() {
    return {
      search: false,
      add: false,
      profile: false,
    };
  },
  props: {
    user: {
      type: Object as () => User,
      required: true,
    },
    home: {
      type: String,
      default: '',
    },
  },
  methods: {
    async onLogout(): Promise<void> {
      await this.$store.dispatch(AuthActions.LOGOUT);
      this.$store.commit(CourseMutations.RESET_COURSE_MODULE);
      this.$router.push({ path: '/login' });
    },
    profileImage,
  },
});
</script>
