<template>
  <div>
    <div class="w-full h-56 relative ">
      <img
        src="/static/background/banner009.jpg"
        class="abs-full z-0 h-full w-full object-cover rounded"
      />
      <div class="abs-full z-10 bg-gray-900 opacity-75 rounded" />

      <div class="abs-full z-20 text-white flex flex-row justify-center items-center">
        <div class="flex flex-col items-center mt-3">
          <p class="text-xl font-bold">{{ homework.name }}</p>
          <p class="text-xs">{{ format(homework.deliveryDate) }}</p>
          <p class="text-xs">
            {{ homework.deliveryDate.getHours() }}:{{ homework.deliveryDate.getMinutes() }}
          </p>
        </div>
      </div>

      <div class="abs-full z-20 text-white flex flex-row items-end justify-end mx-2 my-2">
        <icon v-if="homework.status == false" :icon="['fas', 'square']" />
        <icon v-else class="text-primary" :icon="['fas', 'check-square']" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { HomeworkView } from '@/interfaces';
import { format } from '@/utils/date';

export default {
  props: {
    homework: {
      type: Object as () => HomeworkView,
      required: true,
    },
  },
  methods: {
    format,
  },
};
</script>
