<template>
  <div class="my-2 mr-8 rounded-r-full bg-primary">
    <div class="ml-6 flex flex-row items-center ">
      <img class="w-8 h-8 mr-2 my-4 rounded-full" :src="img" />
      <p class="text-white">{{ title }}</p>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  props: {
    img: {
      type: String,
      default: '/static/images/social.png',
    },
    title: {
      type: String,
      default: 'Class',
    },
  },
};
</script>
