<template>
  <div class="fixed bg-gray-100 shadow-xl rounded-r-lg borderborder-black top-0 bottom-0">
    <div class="my-5">
      <div class="flex flex-row items-center mx-5">
        <div class="relative pb-20 w-20 inline-block">
          <img
            class="absolute rounded-full h-full w-full object-cover inline-block"
            src="https://lh3.googleusercontent.com/TeVk-CLZyVackpOoTGADJAugVAO8i6F-0KHwSbOvMMbHx_d34KkhL5BS1aCRgW03J31ETI7F97Giw7oD8IYe2BbDPrghyQz3gwTISgoclXuUqJo9bpLtm_yANxv6eIfBkS8s6pcRnTlmu4b6b9HGhxLxreYAxOTlgtQ1r77v82MAkURViOnwMlWabTkXXwhcKVH3USh_hW6DQciXCMgxV5eGlIAq5zZaCFiDfNroE-1Pd7B4rdH7Q_RD_NuqfpN2jrOI6E8AWa-93nyvh7fzgZDyU4lasKvtDcclO4VoaItXJWrDgJQpTpkQvHBt2LluExGpux1oaVVNtWSN5c7HzsxNoY3Q5XYqbrJ4sAXEoI105Bts9wvDRIT9qugb3uuG0fRnaHD17SSJHwB3aIOqo1Aqun1DH_3eWZBiCYOkukHZP1t67Q9j7oIC-OGdrdakT9R0uTRozeeLE5TUBqbT7j0-XshnXO77k6uAGbZHafmVptMmuzInPVKlkMHed7f0TxvGwBhVxeBc-zh58aGjhWTyiIiWPa_wWqR5foGGosTcSk44E7zoUIK7BiU5sR-Qp5K6fiboRvwMfC5mQRQEVLZdgukmLjz8TMFKQoulvosa2mApM2s4bDy6JLWXMqwh_v_-YFUQFVOkg6aV0L6-rdJm8R2oy0jZibq8n5mpfRfw8z7omGgmLLMemb_6N4k=w1280-h960-no"
            alt
          />
        </div>
        <div class="mx-4 flex flex-col justify-between">
          <p>Andres Esau Lopez Barajas</p>
          <p>azzubanana@gmail.com</p>
        </div>
      </div>

      <div class="my-4 mx-5 border-t border-black"></div>
      <div>
        <router-link to="/">
          <SClass img="/static/images/home.png" title="Home" />
        </router-link>
        <SClass img="/static/images/adding.png" title="Add Class" />
      </div>
      <div class="my-4 mx-5 border-t border-black"></div>

      <div>
        <SClass
          img="https://lh3.googleusercontent.com/TeVk-CLZyVackpOoTGADJAugVAO8i6F-0KHwSbOvMMbHx_d34KkhL5BS1aCRgW03J31ETI7F97Giw7oD8IYe2BbDPrghyQz3gwTISgoclXuUqJo9bpLtm_yANxv6eIfBkS8s6pcRnTlmu4b6b9HGhxLxreYAxOTlgtQ1r77v82MAkURViOnwMlWabTkXXwhcKVH3USh_hW6DQciXCMgxV5eGlIAq5zZaCFiDfNroE-1Pd7B4rdH7Q_RD_NuqfpN2jrOI6E8AWa-93nyvh7fzgZDyU4lasKvtDcclO4VoaItXJWrDgJQpTpkQvHBt2LluExGpux1oaVVNtWSN5c7HzsxNoY3Q5XYqbrJ4sAXEoI105Bts9wvDRIT9qugb3uuG0fRnaHD17SSJHwB3aIOqo1Aqun1DH_3eWZBiCYOkukHZP1t67Q9j7oIC-OGdrdakT9R0uTRozeeLE5TUBqbT7j0-XshnXO77k6uAGbZHafmVptMmuzInPVKlkMHed7f0TxvGwBhVxeBc-zh58aGjhWTyiIiWPa_wWqR5foGGosTcSk44E7zoUIK7BiU5sR-Qp5K6fiboRvwMfC5mQRQEVLZdgukmLjz8TMFKQoulvosa2mApM2s4bDy6JLWXMqwh_v_-YFUQFVOkg6aV0L6-rdJm8R2oy0jZibq8n5mpfRfw8z7omGgmLLMemb_6N4k=w1280-h960-no"
          title="Teoria de la compu"
        />
        <SClass title="Caca" />
        <SClass title="popo" />
      </div>

      <div class="fixed bottom-0">
        <div class="my-6 mx-5 border-t border-black"></div>
        <div class="flex flex-row items-center justify-between mb-5">
          <router-link to="/login">
            <div class="flex flex-row items-center mx-5">
              <font-awesome-icon :icon="['fas', 'sign-out-alt']" />
              <p class="font-bold">LogOut</p>
            </div>
          </router-link>
          <font-awesome-icon :icon="['fas', 'cogs']" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {};
</script>
