<template>
  <div>
    <div class="absolute bg-white shadow-xl w-1/6">
      <div class="flex flex-col items-center">
        <div class="relative pb-32 w-32 inline-block mx-20 mt-8">
          <img
            class="absolute rounded-full h-full w-full object-cover inline-block"
            :src="user.imageProfile"
            alt="Profile Teacher Picture"
          />
        </div>

        <p class="mt-4 font-bold">{{ user.code }}</p>
      </div>

      <div class="my-6 mx-5 border-t border-black"></div>

      <div v-if="!editProfile" class="text-center">
        <p class="my-1">{{ user.name }}</p>

        <p class="my-1">{{ user.firstLastName }} {{ user.secondLastName }}</p>

        <p class="my-1">{{ user.email }}</p>
      </div>

      <div v-if="editProfile">
        <div class="flex flex-col items-center">
          <input
            class="font-secondary border-b border-black w-64 focus:border-primary my-2"
            type="text"
            placeholder="Nombre"
            :value="user.name"
          />
          <input
            class="font-secondary border-b border-black w-64 focus:border-primary my-2"
            type="text"
            placeholder="Primer Apellido"
            :value="user.firstLastName"
          />
          <input
            class="font-secondary border-b border-black w-64 focus:border-primary my-2"
            type="text"
            placeholder="Segundo Apellido"
            :value="user.secondLastName"
          />
          <input
            class="font-secondary border-b border-black w-64 focus:border-primary my-2"
            type="text"
            placeholder="Correo"
            :value="user.email"
          />
          <input
            class="font-secondary border-b border-black w-64 focus:border-primary my-2"
            type="password"
            placeholder="Contraseña"
            :value="user.password"
          />
          <input
            class="font-secondary border-b border-black w-64 focus:border-primary my-2"
            type="password"
            placeholder="Repetir contraseña"
            :value="user.password"
          />

          <div>
            <button
              @click="editProfile = !editProfile"
              class="my-5 border-2 border-black bg-white text-black rounded py-1 px-3 w-24 mr-10"
            >
              Cancelar
            </button>
            <button
              class="my-5 border-2 border-primary bg-white text-primary rounded py-1 px-3 w-24"
            >
              Aplicar
            </button>
          </div>
        </div>
      </div>

      <div class="my-6 mx-5 border-t border-black"></div>

      <div class="mx-5">
        <div class="flex flex-row justify-between">
          <p>Cursos activos:</p>
          <p>4</p>
        </div>
        <div class="flex flex-row justify-between">
          <p>Tareas pendientes:</p>
          <p>10</p>
        </div>
        <div class="flex flex-row justify-between">
          <p>Tareas entregadas:</p>
          <p>11</p>
        </div>
      </div>

      <div class="my-6 mx-5 border-t border-black"></div>

      <div class="flex flex-row items-center justify-between mb-5 mx-5">
        <router-link to="/login">
          <div class="flex flex-row items-center">
            <icon :icon="['fas', 'sign-out-alt']" />
            <p class="font-bold">Salir</p>
          </div>
        </router-link>
        <icon @click="editProfile = !editProfile" class="cursor-pointer" :icon="['fas', 'cogs']" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { User } from '@/interfaces';

export default {
  data() {
    return {
      editProfile: false,
    };
  },
  props: {
    user: {
      type: Object as () => User,
      required: true,
    },
  },
};
</script>
