<template>
  <div>
    <div class="pt-16">
      <img class="h-64 w-screen object-cover object-top" src="/static/images/background.jpg" alt />
    </div>

    <div class="flex flex-row justify-center -mt-48">
      <div class="container rounded-lg shadow-2xl bg-white">
        <div
          class="h-20 bg-gray-900 flex flex-row justify-start items-center text-blue-500 font-bold text-2xl rounded-t-lg"
        >
          <icon class="ml-10" :icon="['fas', 'cogs']" />
          <p class="ml-2">Configuración</p>
        </div>
        <!-- Inicio -->

        <div class="border-r border-l border-gray-200">
          <div class="flex flex-row justify-evenly my-10">
            <div class="w-6/12">
              <!-- Imagen de perfil -->
              <div class="shadow-xl border border-gray-400">
                <!-- Titulo -->
                <div class="h-10 flex flex-row items-center rounded-t-md mt-4">
                  <p class="text-xl font-bold ml-10">Imagen de perfil</p>
                </div>

                <div class="flex flex-row justify-start items-center">
                  <div class="relative pb-20 w-20 inline-block mr-3 my-5 ml-5">
                    <img
                      class="absolute rounded h-full w-full object-cover inline-block"
                      :src="profileImage(user)"
                      alt="Profile Picture"
                    />
                  </div>
                  <div>
                    <Button fill>Actualizar</Button>
                    <p class="text-xs">Imagenes con formato .PNG o .JPEG</p>
                  </div>
                </div>
              </div>

              <!-- Contraseñas -->
              <div class="mt-10 shadow-xl border border-gray-400">
                <div class="h-10 flex flex-row items-center rounded-t-md mt-4">
                  <p class="text-xl font-bold ml-10">Contraseña</p>
                </div>

                <div class="mx-5">
                  <div>
                    <div class="flex flex-row justify-between items-baseline">
                      <p>Contraseña Actual</p>
                      <div class="w-8/12">
                        <Input
                          :icon="['fas', 'lock']"
                          type="password"
                          v-model="formPass.currentPassword.value"
                          :error="formPass.currentPassword.errors.length > 0"
                          :message="formPass.currentPassword.errors[0]"
                        />
                      </div>
                    </div>

                    <div class="border-t border-gray-400 mb-5"></div>

                    <div class="flex flex-row justify-between items-baseline">
                      <p>Nueva Contraseña</p>
                      <div class="w-8/12">
                        <Input
                          :icon="['fas', 'key']"
                          type="password"
                          v-model="formPass.newPassword.value"
                          :error="formPass.newPassword.errors.length > 0"
                          :message="formPass.newPassword.errors[0]"
                        />
                      </div>
                    </div>
                    <div class="flex flex-row justify-between items-baseline">
                      <p>Repetir Contraseña</p>
                      <div class="w-8/12">
                        <Input
                          :icon="['fas', 'redo-alt']"
                          type="password"
                          v-model="formPass.verifyPassword.value"
                          :error="formPass.verifyPassword.errors.length > 0"
                          :message="formPass.verifyPassword.errors[0]"
                        />
                      </div>
                    </div>

                    <div class="flex flex-row justify-end mb-5">
                      <Button @click="changePass($event)" fill>Aplicar</Button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Infromacion -->
            <div class="w-5/12">
              <div class="shadow-xl border border-gray-400">
                <div class="h-10 flex flex-row items-center rounded-t-md mt-4">
                  <p class="text-xl font-bold ml-10">Editar perfil</p>
                </div>

                <div class="mx-5">
                  <div class="flex flex-row justify-between items-baseline">
                    <p>Correo electronico</p>
                    <div class="w-8/12">
                      <Input
                        :icon="['fas', 'at']"
                        v-model="form.email.value"
                        :error="form.email.errors.length > 0"
                        :message="form.email.errors[0]"
                      />
                    </div>
                  </div>

                  <div class="flex flex-row justify-between items-baseline">
                    <p>Nombre completo</p>
                    <div class="w-8/12">
                      <Input
                        :icon="['fas', 'user-alt']"
                        :value="user.name"
                        v-model="form.name.value"
                        :error="form.name.errors.length > 0"
                        :message="form.name.errors[0]"
                      />
                    </div>
                  </div>

                  <div class="flex flex-row justify-between items-baseline">
                    <p>Apellido paterno</p>
                    <div class="w-8/12">
                      <Input
                        :icon="['fas', 'user-alt']"
                        :value="user.firstLastName"
                        :error="form.firstLastName.errors.length > 0"
                        :message="form.firstLastName.errors[0]"
                      />
                    </div>
                  </div>

                  <div class="flex flex-row justify-between items-baseline">
                    <p>Apellido materno</p>
                    <div class="w-8/12">
                      <Input
                        :icon="['fas', 'user-alt']"
                        :value="user.secondLastName"
                        v-model="form.secondLastName.value"
                        :error="form.secondLastName.errors.length > 0"
                        :message="form.secondLastName.errors[0]"
                      />
                    </div>
                  </div>

                  <div class="flex flex-row justify-end mb-5">
                    <Button @click="edit($event)" fill>Aplicar</Button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Final -->
        <div
          class="h-20 bg-gray-900 flex flex-row justify-start items-center font-bold text-2xl rounded-b-lg"
        ></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { User, Field, PopperMessage } from '@/interfaces';
import Input from '@/components/Input.vue';
import Button from '@/components/public/Button.vue';
import { validationIdentity, validationPass } from '@/validator/editValidation';
import { profileImage } from '@/utils/resource';
import config from '@/services';
import api from '@/services/shared';
import { MUTATIONS as AuthMutations } from '@/store/modules/auth';
import { MUTATIONS as MessageMutations } from '@/store/modules/message';
import ID from '@/utils/generation';
import validation from '@/validator/forgotValidation';

export default Vue.extend({
  components: {
    Input,
    Button,
  },
  data() {
    return {
      form: {
        name: {
          value: '',
          errors: [],
        },
        firstLastName: {
          value: '',
          errors: [],
        },
        secondLastName: {
          value: '',
          errors: [],
        },
        email: {
          value: '',
          errors: [],
        },
      } as Record<string, Field>,

      formPass: {
        currentPassword: {
          value: '',
          errors: [],
        },
        newPassword: {
          value: '',
          errors: [],
        },
        verifyPassword: {
          value: '',
          errors: [],
        },
      } as Record<string, Field>,
    };
  },
  mounted() {
    this.form.name.value = this.user.name;
    this.form.firstLastName.value = this.user.firstLastName;
    this.form.secondLastName.value = this.user.secondLastName;
    this.form.email.value = this.user.email;
  },
  computed: {
    user(): User {
      return this.$store.state.auth.user.profile;
    },
  },

  methods: {
    profileImage,

    async edit(e: Event): Promise<void> {
      e.preventDefault();

      const { form } = this;

      Object.keys(form).forEach((key) => {
        this.form[key].errors = [];
      });

      const validated = validationIdentity(
        form.name.value,
        form.firstLastName.value,
        form.secondLastName.value,
        form.email.value,
      );

      if (validated !== undefined) {
        Object.keys(validated).forEach((key) => {
          this.form[key].errors = validated[key];
        });
        return;
      }
      try {
        const response = await api.updateProfile(
          form.email.value,
          form.name.value,
          form.firstLastName.value,
          form.secondLastName.value,
        );

        this.$store.commit(AuthMutations.RELOAD, {
          email: form.email.value,
          name: form.name.value,
          firstLastName: form.firstLastName.value,
          secondLastName: form.secondLastName.value,
        });

        const message = {
          level: 'success',
          title: 'Usuario editado',
          message: 'Sus datos de usuario han sido cambiados',
          id: ID(),
          timeout: 8000,
        } as PopperMessage;

        this.$store.commit(MessageMutations.ADD_MESSAGE, message);
      } catch (err) {
        Object.keys(err.response.data.errors).forEach((key) => {
          this.form[key].errors = err.response.data.errors[key];
        });
      }
    },

    async changePass(e: Event): Promise<void> {
      e.preventDefault();

      const { formPass } = this;

      Object.keys(formPass).forEach((key) => {
        this.formPass[key].errors = [];
      });

      const validated = validationPass(
        formPass.currentPassword.value,
        formPass.newPassword.value,
        formPass.verifyPassword.value,
      );

      if (validated !== undefined) {
        Object.keys(validated).forEach((key) => {
          this.formPass[key].errors = validated[key];
        });
      }
      try {
        const response = await api.resetPassword(
          formPass.currentPassword.value,
          formPass.newPassword.value,
          formPass.verifyPassword.value,
        );

        const message = {
          level: 'success',
          title: 'Contraseña actualizada',
          message: 'Su contraseña ha sido actualizada',
          id: ID(),
          timeout: 8000,
        } as PopperMessage;

        this.$store.commit(MessageMutations.ADD_MESSAGE, message);

        this.formPass.currentPassword.value = '';
        this.formPass.newPassword.value = '';
        this.formPass.verifyPassword.value = '';
      } catch (err) {
        // Object.keys(err.response.data.errors).forEach((key) => {
        //   this.formPass[key].errors = err.response.data.errors[key];
        // });
      }
    },
  },
});
</script>
