<template>
  <div
    class="bg-cover flex h-screen justify-center items-center bg-gray-300"
    style="background-image: url(/static/images/siu2.jpg)"
  >
    <div class="shadow-xl mx-auto grid grid-cols-2 bg-white w-7/12">
      <div class="flex flex-col justify-center items-center">
        <img class="w-48 mb-8" src="/static/images/logo2.png" alt="Logo" />
        <div class="flex flex-col items-center w-3/5">
          <Input
            :icon="['fas', 'key']"
            placeholder="Nueva contraseña"
            type="password"
            v-model="form.password.value"
            :error="form.password.errors.length > 0"
            :message="form.password.errors[0]"
          />
          <Input
            :icon="['fas', 'lock']"
            placeholder="Repertir contraseña"
            type="password"
            v-model="form.verifyPassword.value"
            :error="form.verifyPassword.errors.length > 0"
            :message="form.verifyPassword.errors[0]"
          />

          <div class="mt-8 text-right w-full">
            <Button @click="reset($event)" fill>Cambiar</Button>
            <br />
            <Link text="Inicair sesión" to="/login" />
          </div>
        </div>
      </div>

      <div>
        <img class="h-140 w-full object-cover" src="/static/images/background.jpg" alt="Image" />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import Button from '@/components/public/Button.vue';
import Input from '@/components/Input.vue';
import Link from '@/components/Link.vue';
import api from '@/services/auth';
import { validationPass } from '@/validator/reset';
import { Field, PopperMessage } from '@/interfaces';
import { MUTATIONS as MessageMutations } from '@/store/modules/message';
import ID from '@/utils/generation';

export default Vue.extend({
  components: {
    Button,
    Input,
    Link,
  },
  data() {
    return {
      form: {
        password: {
          value: '',
          errors: [],
        },
        verifyPassword: {
          value: '',
          errors: [],
        },
      } as Record<string, Field>,
    };
  },
  methods: {
    async reset(e: Event): Promise<void> {
      e.preventDefault();

      const { form } = this;

      Object.keys(form).forEach((key) => {
        this.form[key].errors = [];
      });

      const validated = validationPass(form.password.value, form.verifyPassword.value);

      if (validated !== undefined) {
        Object.keys(validated).forEach((key) => {
          this.form[key].errors = validated[key];
        });
        return;
      }
      try {
        const response = await api.reset(
          form.password.value,
          form.verifyPassword.value,
          this.$route.params.token,
        );

        const message = {
          level: 'success',
          title: 'Operacion exitosa',
          message: '¡Su contraseña ha sido cambiada exitosamente!',
          id: ID(),
          timeout: 8000,
        } as PopperMessage;

        this.$store.commit(MessageMutations.ADD_MESSAGE, message);

        this.$router.push({ path: '/login' });
      } catch (err) {
        const message = {
          level: 'error',
          title: 'Token Expirado',
          message:
            'Parece que su token ha expirado, recuerde que cuenta con 24 horas para cambiar la contraseña',
          id: ID(),
          timeout: 8000,
        } as PopperMessage;

        this.$store.commit(MessageMutations.ADD_MESSAGE, message);
      }
    },
  },
});
</script>
