<template>
  <main class="h-screen w-screen flex items-center justify-center bg-gray-400">
    <Spinner />
  </main>
</template>

<script lang="ts">
import Spinner from '@/components/Spinner.vue';

export default {
  components: {
    Spinner,
  },
};
</script>
