<template>
  <div class="bg-gray-800 rounded-lg">
    <div class="flex flex-row justify-around items-start mx-4 py-5">
      <div class="relative pb-24 w-24 inline-block">
        <img
          class="absolute rounded-full h-full w-full object-cover inline-block"
          src="https://lh3.googleusercontent.com/xVUSeN1VhIbWHXB0oK0sc8w8dHw47n_yzJTBHuPCMy7daY5HWNcoACGXAY7-XQG91BHdzbPSrrusl_GPywRUAelDkWQUxhJQWxF4CuHnAsnrNUhxAAjo7rfUIOr00_jxgLUT-w__A6Yl3Lk7VWcKi1TdJeHYqmjZ1R9sxoSELtoAdSYYPfvnxxm4V9XsGjT-kFQ_YacVEsnXqsjb9x8hVFATLre-5fDKf27YS_3itxP2K09CGP2c2Fr563v2ZSxm0yrF5ixDrLe8zMocAFL6Mviqw3QLanLc37i8QURioh__mLqeRrJh0JsHZhYm8UiagBiKAVcGUTPuALa2rB257JDCZ06JpLzJ_HILkrLogjqS-cjLB5FLiiX29qdZQeXE_HGsb_4lcWAYaFVCk3TsUNvvT7gt225z_xmlkivcaxnnh3me8ZeXDhdJAWpy4vTcHTKFM5k1PmpTqFBC8w654dAUnlqqjXcZhZzfFhNCxzQ8G6Im1R8Hvq78bEXVhfTVGOXNgjOYV8I9xEOtboVt6XxiO6SRD53XTGnLDhxUpEd8JQ2JIna6O6XMaU9WJd7PTUaIw9An7xAGvrz-Zzd-pAjtTktdDgjaP_OLFeqheHpjbdMDZsuCZO3O6ar2QcfZpIZFv48FIElAjw0aK1sTZCO_FVLUQzqVQkg90nbLgy4Fuba-f08EvEX2Qj2cmCI=w1280-h960-no?authuser=0"
          alt="Profile Teacher Picture"
        />
      </div>
      <div class="w-5/6">
        <div class="flex flex-row justify-between text-white">
          <p>Andrés Esaú Lopez Barajas</p>

          <!-- Si es admin -->
          <div class="flex flex-row justify-between">
            <button class="mx-5">Editar</button>
            <button>Borrar</button>
          </div>
        </div>
        <div class="bg-gray-300 rounded-md h-20 w-full">
          <p>Comentario</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { User } from '@/interfaces';

export default {
  props: {
    user: {
      type: Object as () => User,
      required: false,
    },
  },
};
</script>
