<template>
  <div class="border border-gray-400 rounded">
    <div class="bg-white shadow-lg rounded p-5">
      <div class="flex flex-row justify-start">
        <p class="text-lg leading-relaxed font-bold">{{ homework.name }}</p>
      </div>
      <p class="text-sm">
        <icon :icon="['far', 'clock']" />&nbsp;Fecha límite:&nbsp;
        <span class="font-bold">{{ format(homework.deliveryDate) }}</span> a las
        <span class="font-bold">{{ formatHour(homework.deliveryDate) }}</span>
      </p>
      <p class="pt-4 text-md leading-relaxed">{{ homework.description }}</p>
      <div class="flex flex-row justify-end">
        <div class="text-xl">
          <icon v-if="homework.status == false" :icon="['fas', 'square']" />
          <icon v-else class="text-primary" :icon="['fas', 'check-square']" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { HomeworkPreview } from '@/interfaces';
import { format, formatHour } from '@/utils/date';

export default {
  props: {
    homework: {
      type: Object as () => HomeworkPreview,
      required: true,
    },
  },
  methods: {
    format,
    formatHour,
  },
};
</script>
