<template>
  <div>
    <div class="w-full h-56 relative">
      <img :src="banner" class="abs-full z-0 h-full w-full object-cover" />
      <div
        class="abs-full z-10 bg-gray-900
         opacity-75"
      />

      <div class="abs-full z-20 text-white">
        <div class="flex flex-row justify-between mt-8">
          <div class="flex flex-col justify-center items-center ml-6">
            <div class="relative pb-24 w-24 inline-block">
              <img
                class="absolute rounded-full h-full w-full object-cover inline-block "
                :src="teacherProfile"
                alt="Profile Teacher Picture"
              />
            </div>
            <div class="flex flex-col items-center mt-3">
              <p>{{ teacher.name }}</p>
              <p>{{ course.name }}</p>
            </div>
          </div>

          <div class="mr-5">
            <div class="flex flex-row justify-center items-end">
              <p class="text-lg font-bold mr-2">Codigo:</p>
              <p class=" text-lg">{{ course.code }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { CoursePreviewT, User } from '@/interfaces';
import config from '@/services';

export default Vue.extend({
  props: {
    course: {
      type: Object as () => CoursePreviewT,
      required: true,
    },
  },
  computed: {
    banner(): string {
      return `http://virtual.classroom.test/storage/b/${this.course.banner}`;
    },
    teacherProfile(): string {
      const { token, user } = this.$store.state.auth;
      return `${config.base}/sh/resource?type=profile&who=${user.profile.code}&fileName=${user.profile.profileImage}&token=${token}`;
    },
    teacher(): User {
      const { token, user } = this.$store.state.auth;
      return this.$store.state.auth.user.profile;
    },
  },
});
</script>
