<template>
  <div v-if="course">
    <div class="pt-16">
      <img class="h-48 w-screen object-cover" :src="banner" alt />
    </div>

    <div class="flex flex-row justify-between mt-5 mx-64">
      <div>
        <ProfileCourse :course="course" class="-mt-24" />
      </div>

      <div class="w-8/12 mr-24">
        <div class="mb-5 rounded-t">
          <div class="mx-10 w-5/12">
            <div class="h-12 flex flex-row justify-between items-center font-bold">
              <p @click="type = 1" class="cursor-pointer">Tareas</p>
              <p @click="type = 2" class="cursor-pointer">Foros</p>
              <p @click="type = 3" class="cursor-pointer">Estudiantes</p>
            </div>
          </div>
        </div>

        <!-- Tareas -->
        <div v-if="type == 1" class="grid-cols-1 grid gap-5 mb-12">
          <button>
            <div class="border border-gray-400 rounded">
              <div class="bg-white shadow-lg rounded">
                <div class="flex flex-row justify-center items-center h-24">
                  <div class="flex flex-col items-center">
                    <icon size="2x" :icon="['fas', 'plus']" />
                    <p>Crear Tarea</p>
                  </div>
                </div>
              </div>
            </div>
          </button>

          <router-link
            v-for="homework in homeworks"
            :key="homework.id"
            :to="`/homework/${homework.id}`"
          >
            <Homework :homework="homework" />
          </router-link>
        </div>

        <!-- Foros -->
        <div v-if="type == 2" class="grid-cols-1 grid gap-5 mb-12">
          <button>
            <div class="border border-gray-400 rounded">
              <div class="bg-white shadow-lg rounded">
                <div class="flex flex-row justify-center items-center h-24">
                  <div class="flex flex-col items-center">
                    <icon size="2x" :icon="['fas', 'plus']" />
                    <p>Crear Foro</p>
                  </div>
                </div>
              </div>
            </div>
          </button>
        </div>

        <!-- Estudiantes -->
        <div v-if="type == 3" class="grid-cols-1 grid gap-5 mb-12">
          <Students :student="students[0]" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { CourseStudent, HomeworkPreview, User, Student, CourseTeacher } from '@/interfaces';
import ProfileCourse from '@/components/private/teacher/course/ProfileCourse.vue';
import Homework from '@/components/private/teacher/course/Homework.vue';
import Students from '@/components/private/teacher/course/Students.vue';
import { ACTIONS as CourseActions, MUTATIONS as CourseMutations } from '@/store/modules/tcourse';

export default {
  components: {
    ProfileCourse,
    Homework,
    Students,
  },

  computed: {
    id(): string {
      return this.$route.params.id;
    },
    banner(): string {
      return `http://virtual.classroom.test/storage/b/${this.course.banner}`;
    },
    teacher(): User {
      const { token, user } = this.$store.state.auth;
      return this.$store.state.auth.user.profile;
    },
  },
  mounted() {
    const id = parseInt(this.$route.params.id, 10);
    if (!this.$store.state.tcourse.courses[id]) {
      this.$store.dispatch(CourseActions.FETCH_COURSE, id);
    } else {
      this.course = this.$store.state.tcourse.courses[id];
      // if (!this.$store.state.tcourse.courses[id].h.initialFetch) {
      //   this.$store.dispatch(CourseActions.FETCH_HOMEWORKS, id);
      //   this.$store.commit(CourseMutations.HINITIAL_FETCH, id);
      // } else {
      //   this.homeworks = this.$store.state.tcourse.courses[id].h.previews;
      // }
    }
  },
  created() {
    this.unsubscribe = this.$store.subscribe((mutation, state) => {
      const id = parseInt(this.$route.params.id, 10);
      if (mutation.type === CourseMutations.SET_COURSE) {
        if (state.scourse.courses[id]) {
          this.course = state.scourse.courses[id];
          // this.$store.dispatch(CourseActions.FETCH_HOMEWORKS, id);
          // this.$store.commit(CourseMutations.HINITIAL_FETCH, id);
        }
      }

      // if (mutation.type === CourseMutations.APPEND_HOMEWORKS) {
      //   this.homeworks = state.scourse.courses[id].h.previews;
      // }
    });
  },
  beforeDestroy() {
    this.unsubscribe();
  },

  data() {
    return {
      course: null,
      type: 1,
      students: [
        {
          code: 21419156,
          profileImage:
            'https://lh3.googleusercontent.com/xVUSeN1VhIbWHXB0oK0sc8w8dHw47n_yzJTBHuPCMy7daY5HWNcoACGXAY7-XQG91BHdzbPSrrusl_GPywRUAelDkWQUxhJQWxF4CuHnAsnrNUhxAAjo7rfUIOr00_jxgLUT-w__A6Yl3Lk7VWcKi1TdJeHYqmjZ1R9sxoSELtoAdSYYPfvnxxm4V9XsGjT-kFQ_YacVEsnXqsjb9x8hVFATLre-5fDKf27YS_3itxP2K09CGP2c2Fr563v2ZSxm0yrF5ixDrLe8zMocAFL6Mviqw3QLanLc37i8QURioh__mLqeRrJh0JsHZhYm8UiagBiKAVcGUTPuALa2rB257JDCZ06JpLzJ_HILkrLogjqS-cjLB5FLiiX29qdZQeXE_HGsb_4lcWAYaFVCk3TsUNvvT7gt225z_xmlkivcaxnnh3me8ZeXDhdJAWpy4vTcHTKFM5k1PmpTqFBC8w654dAUnlqqjXcZhZzfFhNCxzQ8G6Im1R8Hvq78bEXVhfTVGOXNgjOYV8I9xEOtboVt6XxiO6SRD53XTGnLDhxUpEd8JQ2JIna6O6XMaU9WJd7PTUaIw9An7xAGvrz-Zzd-pAjtTktdDgjaP_OLFeqheHpjbdMDZsuCZO3O6ar2QcfZpIZFv48FIElAjw0aK1sTZCO_FVLUQzqVQkg90nbLgy4Fuba-f08EvEX2Qj2cmCI=w1280-h960-no?authuser=0',
          name: 'Andrés Esaú',
          firstLastname: 'López',
          secondLastname: 'Barajas',
          calification: 80,
          delivered: 2,
        },
      ] as Student[],

      homeworks: [
        {
          id: 7,
          name: 'Herencia',
          deliveryDate: new Date(2019, 2, 2, 12, 59, 59),
          description:
            'Utilizando las clases dieñadas en clases anteriores, desarrollar clases con herencia',
          status: true,
        },
        {
          id: 2,
          name: 'Clases',
          deliveryDate: new Date(2019, 1, 11, 12, 59, 59),
          description:
            'Resolver los problemas mostrados utilizando clases ubicados en archivos diferentes, cada uno debe tener al menos 3 metodos en cada clase y 5 atributos en cada clase',
          status: false,
        },
        {
          id: 3,
          name: 'Punteros',
          deliveryDate: new Date(2019, 1, 7, 12, 59, 59),
          description:
            'Utilizando punteros, dieñar funciones que utilicen de estos, para ello pueden utilizar arreglos',
          status: false,
        },
        {
          id: 5,
          name: 'Listas',
          deliveryDate: new Date(2019, 1, 3, 12, 59, 59),
          description: 'Utilizando arreglos, se debe diseñar una lista simple',
          status: true,
        },
      ] as HomeworkPreview[],
    };
  },
};
</script>
