<template>
  <div>
    <div class="pt-16">
      <img class="h-64 w-screen object-cover object-top" src="/static/images/background.jpg" alt />
    </div>

    <div class="flex flex-col items-center -mt-16">
      <div class=" bg-white w-6/12 rounded shadow-2xl">
        <div class="bg-gray-900 rounded-t text-blue-500 flex flex-row items-center h-20 text-2xl">
          <icon class="ml-10 mr-2" :icon="['fas', 'chalkboard-teacher']" />
          <p class="font-bold">Crear Curso</p>
        </div>

        <div class="my-10 flex flex-row justify-evenly">
          <div class="w-5/12 ">
            <!-- Codigo -->
            <div class="shadow-xl border border-gray-400">
              <div class="mx-5">
                <p class="text-lg font-bold mb-2 mt-4">Identificaor</p>
                <div class="flex flex-row justify-between items-baseline">
                  <p class="mr-4">Código</p>
                  <Input
                    v-model="form.code.value"
                    :error="form.code.errors.length > 0"
                    :message="form.code.errors[0]"
                    :icon="['fas', 'key']"
                  />
                </div>
              </div>
            </div>

            <div class="shadow-xl border border-gray-400 mt-12">
              <div class="mx-5">
                <p class="text-lg font-bold mb-2 mt-4">Banner</p>
                <div class="flex flex-row items-center  mb-5">
                  <div class="relative pb-20 w-20 inline-block mr-3 ml-5">
                    <img
                      class=" border border-gray-900 text-center absolute rounded h-full w-full object-cover inline-block"
                      src="http://virtual.classroom.test/storage/b/banner_0009.jpg"
                      alt="Banner"
                    />
                  </div>
                  <div>
                    <Button disabled variant="disable" fill>Seleccionar</Button>
                    <p class="mb-5 text-sm">Disponible proximamente</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-5/12">
            <div class="shadow-xl border border-gray-400">
              <div class="mx-5 my-5">
                <p class="text-lg font-bold mb-2 mt-4">General</p>
                <div class="flex flex-row justify-between items-baseline">
                  <p class="mr-4">Nombre</p>
                  <Input
                    v-model="form.name.value"
                    :error="form.name.errors.length > 0"
                    :message="form.name.errors[0]"
                    :icon="['fas', 'hashtag']"
                  />
                </div>

                <p class="mb-2">Descripción</p>
                <TextArea
                  class="h-full"
                  v-model="form.description.value"
                  :error="form.description.errors.length > 0"
                  :message="form.description.errors[0]"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="bg-gray-900 rounded-b text-blue-500 flex flex-row justify-end items-center h-20 text-2xl"
        >
          <div class="mr-10">
            <Button fill @click="create($event)">Crear</Button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Button from '@/components/public/Button.vue';
import TextArea from '@/components/TextArea.vue';
import Input from '@/components/Input.vue';
import { Field, CoursePreView } from '@/interfaces';
import { validation } from '@/validator/createCourse';
import api from '@/services/teacher/course';
import { MUTATIONS as TeacherMutations } from '@/store/modules/tcourse';

export default Vue.extend({
  components: {
    Input,
    Button,
    TextArea,
  },
  data() {
    return {
      form: {
        code: {
          value: '',
          errors: [],
        },
        name: {
          value: '',
          errors: [],
        },
        description: {
          value: '',
          errors: [],
        },
      } as Record<string, Field>,
    };
  },

  methods: {
    async create(e: Event): Promise<void> {
      e.preventDefault();

      const { form } = this;

      Object.keys(form).forEach((key) => {
        this.form[key].errors = [];
      });

      const validated = validation(form.code.value, form.name.value, form.description.value);
      console.log(validated);

      if (validated !== undefined) {
        Object.keys(validated).forEach((key) => {
          this.form[key].errors = validated[key];
        });
      }

      try {
        const response = await api.course(form.code.value, form.name.value, form.description.value);

        this.$store.commit(TeacherMutations.RELOAD, {
          id: 0,
          code: form.code,
          name: form.name,
          teacher: null,
          difference: 0,
        });
      } catch (err) {
        Object.keys(err.response.data.errors).forEach((key) => {
          this.form[key].errors = err.response.data.errors[key];
        });
      }
    },
  },
});
</script>
