<template>
  <div>
    <div class="pt-16 h-screen">
      <img class="h-48 w-screen object-cover" :src="course[0].banner" alt />

      <div class="flex flex-1 flex-col items-center -mt-20">
        <div
          class="container bg-gray-800 flex flex-col items-center rounded-lg shadow-xl text-white"
        >
          <div class="w-full shadow-md">
            <div class="flex flex-1 flex-row justify-between mx-20 mt-6">
              <div class="flex flex-1 flex-row justify-start">
                <input
                  v-if="edit"
                  class="bg-gray-700 text-white rounded px-2 font-bold text-xl"
                  type="text"
                  placeholder="Nombre Tarea"
                  :value="homework.data.name"
                />
                <p v-if="!edit" class="font-bold text-xl">{{ homework.data.name }}</p>
                <p class="ml-4">{{ format(homework.data.uploadDate) }}</p>
              </div>
              <div class="flex flex-row justify-center">
                <p class="mr-2">Califiacion máxima:</p>
                <p v-if="!edit">{{ homework.data.maxCalification }}</p>
                <input
                  v-else
                  class="bg-gray-700 rounded px-2 w-1/4"
                  type="text"
                  :value="homework.data.maxCalification"
                />
              </div>
            </div>
            <p v-if="!edit" class="mt-2 mx-20 text-left mb-2 h-16">
              {{ homework.data.description }}
            </p>
            <input
              v-else
              class="my-5 mb-5 mx-12 text-left mb-2 h-16 bg-gray-700 w-11/12 rounded px-2"
              type="text"
              placeholder="Descripcion tarea"
              :value="homework.data.description"
            />
          </div>

          <div class="w-full h-full shadow-md bg-gray-500">
            <div class="h-64 my-5">
              <div v-if="!edit">
                <div class="overflow-y-auto h-64 flex flex-col items-center">
                  <!-- v-for="upload in homework.uploads"
                  :key="upload.data.id"-->
                  <StudentDeliver
                    class="my-2"
                    :student="homework.uploads[0]"
                    :maxCalification="homework.data.maxCalification"
                  />
                  <StudentDeliver
                    class="my-2"
                    :student="homework.uploads[1]"
                    :maxCalification="homework.data.maxCalification"
                  />
                </div>
              </div>

              <p v-else class="text-center text-black">Aqui se suben los archivos del profe</p>
            </div>
          </div>

          <div class="w-4/6 mt-5">
            <div class="flex flex-row justify-around mx-10">
              <div class="flex flex-row justify-center">
                <p class="font-bold mr-2">Fecha limite:</p>
                <p v-if="!edit">
                  {{ format(homework.data.deliveryDate) }}
                  {{ homework.data.deliveryDate.getHours() }}:{{
                    homework.data.deliveryDate.getMinutes()
                  }}
                </p>
                <div v-else class="bg-gray-700 rounded flex flex-row justify-center items-center">
                  <input class="bg-gray-700 rounded-l rounded pl-2 py-1" type="date" name id />
                  <input class="bg-gray-700 rounded-r rounded pr-2" type="time" name id />
                </div>
              </div>
            </div>

            <div class="flex flex-row justify-evenly my-8">
              <a v-if="!edit" @click="$router.go(-1)">
                <button class="border-2 border-white rounded py-2 w-32">Atras</button>
              </a>
              <button v-else @click="edit = !edit" class="border-2 border-white rounded py-2 w-32">
                Cancelar
              </button>

              <button
                v-if="!edit"
                @click="edit = !edit"
                class="border-2 border-primary rounded py-2 w-32 text-primary"
              >
                Editar
              </button>
              <button
                v-else
                @click="edit = !edit"
                class="border-2border-primary bg-primary rounded py-2 w-32 text-white"
              >
                Aplicar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import StudentDeliver from '@/components/private/teacher/course/StudentDeliver.vue';
import {
  HomeworkView,
  User,
  Homework,
  File,
  homeworkDelivered,
  HomeworkCalification,
} from '@/interfaces';
import { format, formatHour } from '@/utils/date';
import Vue from 'vue';

export default Vue.extend({
  components: {
    StudentDeliver,
  },

  data() {
    return {
      edit: false,

      homework: {
        data: {
          id: 1,
          name: 'Describiendo mi base de datos',
          description: 'Las bases de la programación para el desarrollo de sofware',
          maxCalification: 2,
          uploadDate: new Date(1999, 3, 3, 12, 59, 59),
          deliveryDate: new Date(1999, 13, 6, 12, 59, 59),
        },
        uploads: [
          {
            data: {
              id: 1,
              studentCode: 1,
              calification: 95,
              deliveryDate: new Date(1999, 11, 3, 12, 59, 59),
            },
            student: {
              code: 1,
              name: 'Andrés Esaú',
              firstLastname: 'Lopez',
              secondLastname: 'Barajas',
            },
          },
          {
            data: {
              id: 21,
              studentCode: 2131231231,
              deliveryDate: new Date(12, 7, 1999, 12, 1),
              calification: 2,
            },
            student: {
              code: 2131231231,
              name: 'Andres Esau',
              firstLastname: 'Lopez',
              secondLastname: 'Barajas',
            },
          },
        ],
      } as HomeworkView,

      course: [
        {
          id: 1,
          banner: '/static/background/banner002.jpg',
        },
      ],
    };
  },
  methods: {
    format,
  },
});
</script>
