<template>
  <div v-if="course">
    <div class="pt-16">
      <img class="h-48 w-screen object-cover" :src="banner" alt />
    </div>

    <div class="flex flex-row justify-between mt-5 mx-64">
      <div>
        <ProfileCourse :course="course" class="-mt-24" />
      </div>

      <div class="w-8/12 mr-24">
        <div class="mb-5 rounded-t">
          <div class="mx-10 w-5/12">
            <div class="h-12 flex flex-row justify-between items-center font-bold">
              <p @click="type = 1" :class="{ 'text-blue-500': type === 1 }" class="cursor-pointer">
                No Entregadas
              </p>
              <p @click="type = 2" :class="{ 'text-blue-500': type === 2 }" class="cursor-pointer">
                Entregadas
              </p>
              <p @click="type = 3" :class="{ 'text-blue-500': type === 3 }" class="cursor-pointer">
                Todas
              </p>
              <p @click="type = 4" :class="{ 'text-blue-500': type === 4 }" class="cursor-pointer">
                Foros
              </p>
            </div>
          </div>
        </div>

        <div v-if="type == 1" class="grid-cols-1 grid gap-5 mb-12">
          <router-link
            v-for="homework in left"
            :key="homework.id"
            :to="`/s/course/${id}/homework/${homework.id}`"
          >
            <HomeworkPreview :homework="homework" />
          </router-link>
        </div>
        <div v-if="type == 2" class="grid-cols-1 grid gap-5 mb-12">
          <router-link
            v-for="homework in delivered"
            :key="homework.id"
            :to="`/s/course/${id}/homework/${homework.id}`"
          >
            <HomeworkPreview :homework="homework" />
          </router-link>
        </div>
        <div v-if="type == 3" class="grid-cols-1 grid gap-5 mb-12">
          <router-link
            v-for="homework in all"
            :key="homework.id"
            :to="`/s/course/${id}/homework/${homework.id}`"
          >
            <HomeworkPreview :homework="homework" />
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { CourseStudent, HomeworkPreview as HPreview } from '@/interfaces';
import ProfileCourse from '@/components/private/student/course/ProfileCourse.vue';
import HomeworkPreview from '@/components/private/student/course/HomeworkPreview.vue';
import { ACTIONS as CourseActions, MUTATIONS as CourseMutations } from '@/store/modules/course';

export default Vue.extend({
  components: {
    ProfileCourse,
    HomeworkPreview,
  },
  computed: {
    id(): string {
      return this.$route.params.id;
    },
    banner(): string {
      return `http://virtual.classroom.test/storage/b/${this.course.banner}`;
    },
    delivered(): HPreview[] {
      return this.homeworks.filter((h) => h.status);
    },
    all(): HPreview[] {
      return this.homeworks;
    },
    left(): HPreview[] {
      return this.homeworks.filter((h) => h.status === false);
    },
  },
  mounted() {
    const id = parseInt(this.$route.params.id, 10);
    if (!this.$store.state.scourse.courses[id]) {
      this.$store.dispatch(CourseActions.FETCH_COURSE, id);
    } else {
      this.course = this.$store.state.scourse.courses[id];
      if (!this.$store.state.scourse.courses[id].h.initialFetch) {
        this.$store.dispatch(CourseActions.FETCH_HOMEWORKS, id);
        this.$store.commit(CourseMutations.HINITIAL_FETCH, id);
      } else {
        this.homeworks = this.$store.state.scourse.courses[id].h.previews;
      }
    }
  },
  created() {
    this.unsubscribe = this.$store.subscribe((mutation, state) => {
      const id = parseInt(this.$route.params.id, 10);
      if (mutation.type === CourseMutations.SET_COURSE) {
        if (state.scourse.courses[id]) {
          this.course = state.scourse.courses[id];
          this.$store.dispatch(CourseActions.FETCH_HOMEWORKS, id);
          this.$store.commit(CourseMutations.HINITIAL_FETCH, id);
        }
      }

      if (mutation.type === CourseMutations.APPEND_HOMEWORKS) {
        this.homeworks = state.scourse.courses[id].h.previews;
      }
    });
  },
  beforeDestroy() {
    this.unsubscribe();
  },
  data() {
    return {
      course: null,
      homeworks: [],
      type: 1,
    };
  },
});
</script>
