<template>
  <div>
    <div v-if="homework" class="pt-16 h-screen">
      <img class="h-64 w-screen object-cover" :src="banner" alt />
      <div class="container mx-auto">
        <div class="flex flex-row justify-between">
          <div class="-mt-24 mr-8">
            <div class="w-80 bg-white shadow-xl rounded p-8">
              <h1 class="font-bold">Archivos subidos por el profesor</h1>
              <ul class="pt-4">
                <a
                  :href="teacherFile(file)"
                  target="_blank"
                  class="border border-gray-400 rounded p-2 mb-1 cursor-pointer flex flex-row justify-between hover:bg-blue-500 hover:text-white"
                  v-for="file in homework.files"
                  :key="file.fileName"
                >
                  <span class="text-sm">{{ file.originalName }}</span>
                  <span>
                    <icon :icon="['fas', 'image']" />
                  </span>
                </a>
              </ul>
            </div>
          </div>
          <div class="flex flex-1 flex-col items-center -mt-48">
            <div
              class="container bg-gray-800 flex flex-col items-center rounded-lg shadow-xl text-white"
            >
              <div class="w-full shadow-md p-8">
                <div class="flex flex-1 flex-row justify-between">
                  <div class="flex flex-1 flex-row justify-start">
                    <p class="font-bold text-lg">{{ homework.name }}</p>
                  </div>
                  <div
                    class="flex flex-row justify-center border-b border-primary text-sm font-bold tracking-wider text-primary"
                  >
                    <p>{{ homework.upload && homework.upload.calification || '-' }}</p>
                    <p>/{{ homework.maxCalification }}</p>
                  </div>
                </div>
                <p class="text-left leading-relaxed pt-6">{{ homework.description }}</p>
              </div>

              <div class="w-full h-full shadow-md bg-gray-500">
                <div class="my-48">
                  <p
                    class="text-center text-black"
                  >Aqui se suben los archivos de la tarea ¿Esto es con algun plugin?</p>
                </div>
              </div>

              <div class="w-4/6 mt-5">
                <div class="flex flex-row justify-around mx-10">
                  <div class="flex flex-row justify-center">
                    <p class="text-sm">
                      <icon :icon="['far', 'clock']" />&nbsp;Fecha límite:&nbsp;
                      <span
                        class="font-bold"
                      >{{ format(homework.deliveryDate) }}</span> a las
                      <span class="font-bold">{{ formatHour(homework.deliveryDate) }}</span>
                    </p>
                  </div>

                  <div class="flex flex-row justify-center">
                    <p class="text-sm">
                      <icon :icon="['far', 'clock']" />&nbsp;Fecha límite:&nbsp;
                      <span
                        class="font-bold"
                      >{{ format(homework.deliveryDate) }}</span> a las
                      <span class="font-bold">{{ formatHour(homework.deliveryDate) }}</span>
                    </p>
                  </div>
                </div>

                <div class="flex flex-row justify-evenly my-8">
                  <a @click="$router.go(-1)">
                    <button class="border-2 border-white rounded py-2 w-32">Atras</button>
                  </a>
                  <!-- <button
                v-if="homework.upload != null"
                class="border-2 border-primary bg-primary rounded py-2 w-32 text-gray-800"
              >
                Entregar
                  </button>-->
                  <!-- v-else -->
                  <Button
                    v-if="!homework.upload || !homework.upload.calification"
                    variant="disable"
                  >Entregar</Button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span v-else>Esperando....</span>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Button from '@/components/public/Button.vue';
import { HomeworkView, User, Homework, File, HFile } from '@/interfaces';
import config from '@/services';
import { format, formatHour } from '@/utils/date';
import {
  ACTIONS as CourseActions,
  MUTATIONS as CourseMutations,
} from '@/store/modules/course';

export default Vue.extend({
  components: {
    Button,
  },
  data() {
    return {
      homework: null,
    };
  },
  methods: {
    format,
    formatHour,
    teacherFile(file: HFile): string {
      const { token } = this.$store.state.auth;
      const id = parseInt(this.$route.params.id, 10);
      const hid = parseInt(this.$route.params.hid, 10);
      const { teacher } = this.$store.state.scourse.courses[id];
      return `${config.base}/sh/resource?type=file&who=${teacher.code}&fileName=${file.fileName}&token=${token}&course=${id}&hid=${hid}`;
    },
  },
  computed: {
    banner(): string {
      const id = parseInt(this.$route.params.id, 10);

      return `${config.no}/storage/b/${this.$store.state.scourse.courses[id].banner}`;
    },
  },
  mounted() {
    const id = parseInt(this.$route.params.id, 10);
    const hid = parseInt(this.$route.params.hid, 10);
    if (!this.$store.state.scourse.courses[id]) {
      this.$store.dispatch(CourseActions.FETCH_COURSE, id);
    } else if (!this.$store.state.scourse.courses[id].h.homeworks[hid]) {
      this.$store.dispatch(CourseActions.FETCH_HOMEWORK, { id, hid });
    } else {
      this.homework = this.$store.state.scourse.courses[id].h.homeworks[hid];
    }
  },
  created() {
    this.unsubscribe = this.$store.subscribe((mutation, state) => {
      const id = parseInt(this.$route.params.id, 10);
      const hid = parseInt(this.$route.params.hid, 10);

      if (mutation.type === CourseMutations.SET_COURSE) {
        this.$store.dispatch(CourseActions.FETCH_HOMEWORK, { id, hid });
      }

      if (mutation.type === CourseMutations.SET_HOMEWORK) {
        this.homework = state.scourse.courses[id].h.homeworks[hid];
      }
    });
  },
  beforeDestroy() {
    this.unsubscribe();
  },
});
</script>
