<template>
  <div>
    <div class="pt-16"></div>

    <img class="h-48 w-screen object-cover" src="/static/background/banner013.jpg" alt />

    <div class="flex flex-1 flex-col items-center -mt-12">
      <div
        class="absolute container bg-gray-800 flex flex-col items-center rounded-lg shadow-xl w-3/6"
      >
        <div class="w-full shadow-md text-white">
          <div class="mx-20 mt-6">
            <div class="flex flex-1 flex-col items-center">
              <p class="font-bold text-xl text-primary">Problemas con la base de datos</p>
              <p class="ml-4 text-xs">28/02/2020</p>
            </div>
          </div>

          <div class="my-4 flex flex-row items-center justify-center">
            <div class="relative pb-8 w-8 inline-block">
              <img
                class="absolute rounded-full h-full w-full object-cover inline-block"
                src="https://lh3.googleusercontent.com/xVUSeN1VhIbWHXB0oK0sc8w8dHw47n_yzJTBHuPCMy7daY5HWNcoACGXAY7-XQG91BHdzbPSrrusl_GPywRUAelDkWQUxhJQWxF4CuHnAsnrNUhxAAjo7rfUIOr00_jxgLUT-w__A6Yl3Lk7VWcKi1TdJeHYqmjZ1R9sxoSELtoAdSYYPfvnxxm4V9XsGjT-kFQ_YacVEsnXqsjb9x8hVFATLre-5fDKf27YS_3itxP2K09CGP2c2Fr563v2ZSxm0yrF5ixDrLe8zMocAFL6Mviqw3QLanLc37i8QURioh__mLqeRrJh0JsHZhYm8UiagBiKAVcGUTPuALa2rB257JDCZ06JpLzJ_HILkrLogjqS-cjLB5FLiiX29qdZQeXE_HGsb_4lcWAYaFVCk3TsUNvvT7gt225z_xmlkivcaxnnh3me8ZeXDhdJAWpy4vTcHTKFM5k1PmpTqFBC8w654dAUnlqqjXcZhZzfFhNCxzQ8G6Im1R8Hvq78bEXVhfTVGOXNgjOYV8I9xEOtboVt6XxiO6SRD53XTGnLDhxUpEd8JQ2JIna6O6XMaU9WJd7PTUaIw9An7xAGvrz-Zzd-pAjtTktdDgjaP_OLFeqheHpjbdMDZsuCZO3O6ar2QcfZpIZFv48FIElAjw0aK1sTZCO_FVLUQzqVQkg90nbLgy4Fuba-f08EvEX2Qj2cmCI=w1280-h960-no?authuser=0"
                alt
              />
            </div>
            <input
              placeholder="Comparte tu opinion"
              type="text"
              class="bg-gray-700 border-b border-white px-3 rounded-full w-2/6 text-center ml-2"
            />
          </div>

          <!-- <div class="mt-2 mx-20">
            <p class="text-left text-base">
              Comparte tu opinion:
            </p>
            <div class="flex flex-row justify-between mb-6">
              <input class="border-b border-white w-full bg-gray-800" type="text" />
              <button
                class="border-2 border-primary bg-primary rounded mt-2q px-8 w-32 text-gray-800"
              >
                Enviar
              </button>
            </div>
          </div>-->
        </div>

        <div class="w-full h-screen shadow-md bg-gray-500">
          <div class="my-10 mx-20">
            <Comment />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Comment from '@/components/private/student/course/Comment.vue';
import { User } from '@/interfaces';

export default {
  components: {
    Comment,
  },
};
</script>
