<template>
  <div>
    <div class="pt-16">
      <img class="h-64 w-screen object-cover object-top" src="/static/images/background.jpg" alt />
    </div>

    <div v-if="loaded" class="grid grid-cols-4 gap-5 my-5 mx-10">
      <router-link v-for="course in courses" :key="course.id" :to="`/s/course/${course.id}`">
        <Courses class="shadow-xl" :course="course" />
      </router-link>
    </div>

    <div class="flex justify-center align-center">
      <Spinner v-if="!loaded" />
    </div>

    <div class="text-center mb-4">
      <Button v-if="remained" @click="fetch" variant="secondary" fill>Cargar Más</Button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Button from '@/components/public/Button.vue';
import Spinner from '@/components/Spinner.vue';
import Courses from '@/components/private/student/CoursePreview.vue';
import { CoursePreView } from '@/interfaces';
import { MUTATIONS as CourseMutations, ACTIONS as CourseActions } from '@/store/modules/course';

export default Vue.extend({
  components: {
    Courses,
    Button,
    Spinner,
  },
  data() {
    return {
      addCourse: true,
    };
  },
  mounted() {
    if (!this.$store.state.scourse.initialFetch) {
      this.$store.dispatch(CourseActions.FETCH_COURSES);
      this.$store.commit(CourseMutations.INITIAL_FETCH);
    }
  },
  computed: {
    courses(): CoursePreView[] {
      return this.$store.state.scourse.previews;
    },
    remained(): boolean {
      return this.$store.state.scourse.remained;
    },
    loaded(): boolean {
      return this.$store.state.scourse.initialFetch;
    },
  },
  methods: {
    fetch(): void {
      this.$store.dispatch(CourseActions.FETCH_COURSES);
    },
  },
});
</script>
