<template>
  <router-link class="text-blue-400 text-xs underline font-bold" :to="to">{{text}}</router-link>
</template>

<script lang="ts">
export default {
  props: {
    to: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
  },
};
</script>
