<template>
  <div class="w-64 absolute right-2 top-6">
    <PopperCard v-for="message in messages" :key="message.id" :message="message" />
  </div>
</template>


<script lang="ts">
import Vue from 'vue';
import { PopperMessage } from '@/interfaces';
import PopperCard from './PopperCard.vue';

export default Vue.extend({
  components: {
    PopperCard,
  },
  computed: {
    messages(): PopperMessage[] {
      return this.$store.state.message.messages;
    },
  },
});
</script>
