<template>
  <div :class="currentClass">
    <div class="w-full text-right">
      <button @click="onClose">
        <icon class="text-gray-900 cursor-pointer" size="1x" :icon="['fas', 'times']" />
      </button>
    </div>
    <div class="pt-2">
      <h1 class="text-md font-bold mb-2">{{ message.title }}</h1>
      <span class="text-sm">{{ message.message }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { PopperMessage } from '@/interfaces';
import { MUTATIONS as MessageMutations } from '@/store/modules/message';

export default Vue.extend({
  props: {
    message: {
      type: Object as () => PopperMessage,
      required: true,
    },
  },
  data() {
    return {
      fadeOut: false,
    };
  },
  methods: {
    onClose(): void {
      this.$store.commit(MessageMutations.REMOVE_MESSAGE, this.message.id);
    },
  },
  computed: {
    currentClass(): Array<string> {
      const classes = [
        'bg-white',
        'shadow-lg',
        'rounded-md',
        'border-l-4',
        'mb-8',
        'p-4',
      ];

      if (this.message.level === 'error') {
        classes.push('border-red-500');
      } else if (this.message.level === 'warning') {
        classes.push('border-orange-400');
      } else {
        classes.push('border-green-400');
      }

      if (this.fadeOut) {
        classes.push('fade-out');
      }

      return classes;
    },
  },
  mounted() {
    setTimeout(() => {
      this.fadeOut = true;
    }, this.message.timeout - 500);
    setTimeout(() => {
      this.$store.commit(MessageMutations.REMOVE_MESSAGE, this.message.id);
    }, this.message.timeout);
  },
});
</script>
