<template>
  <div class="border border-gray-400 rounded">
    <div class="bg-white shadow-lg rounded">
      <div class="flex flex-row justify-start mx-5 mt-5">
        <p class="text-lg font-bold">{{ homework.name }}</p>
        <p
          class="text-sm"
        >({{ format(homework.deliveryDate) }} {{ formatHour(homework.deliveryDate) }})</p>
      </div>
      <div class="my-2 mx-10 h-16">
        <p class="text-sm">{{ homework.description }}</p>
      </div>
      <div class="flex flex-row justify-end mx-5">
        <div class="mb-5 text-xl">
          <!-- <icon v-if="homework.status == false" :icon="['fas', 'square']" />
          <icon v-else class="text-primary" :icon="['fas', 'check-square']" />-->
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { HomeworkPreview } from '@/interfaces';
import { format, formatHour } from '@/utils/date';

export default {
  props: {
    homework: {
      type: Object as () => HomeworkPreview,
      required: true,
    },
  },
  methods: {
    format,
    formatHour,
  },
};
</script>
