<template>
  <div>
    <div class="bg-white shadow-xl absolute w-1/6">
      <div class="flex flex-col items-center">
        <div class="relative pb-24 w-24 inline-block mt-6">
          <img
            class="absolute rounded-full h-full w-full object-cover inline-block"
            :src="profileImage(teacher)"
            alt="Profile Teacher Picture"
          />
        </div>
        <div class="my-6 flex flex-col items-center">
          <p class="font-bold">{{ teacher.name }}</p>
          <p class="font-secondary text-sm opacity-75">{{ teacher.email }}</p>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center text-center mx-10">
        <p class="font-bold">{{ course.name }}</p>
        <p class="opacity-75 text-sm leading-relaxed">{{ course.description }}</p>
      </div>

      <div class="my-6 mx-5 border-t border-gray-400"></div>

      <div class="flex flex-row justify-between mx-10">
        <p>Codigo</p>
        <p>{{ course.code }}</p>
      </div>

      <div class="my-6 mx-5 border-t border-gray-400"></div>

      <div class="mx-10">
        <div class="flex flex-row justify-between">
          <p>Estudiantes</p>
          <p>{{ course.students }}</p>
        </div>
        <div class="flex flex-row justify-between">
          <p>Tareas subidas</p>
          <p>{{ course.homeworks }}</p>
        </div>
        <div class="flex flex-row justify-between">
          <p>Forums</p>
          <p>{{ course.forums }}</p>
        </div>
      </div>

      <div class="my-6 mx-5 border-t border-gray-400"></div>

      <div class="flex flex-row justify-center my-5 text-center">
        <Button @click="isOpen = !isOpen" variant="danger" fill>Eliminar curso</Button>
      </div>
    </div>

    <!-- Borrar Curso -->
    <button
      v-if="isOpen"
      @click="isOpen = false"
      class="fixed top-0 right-0 bottom-0 z-30
        left-0 h-full w-full bg-black opacity-50 cursor-default"
    ></button>

    <div
      v-if="isOpen"
      class="absolute modal bg-white shadow-lg rounded-md border-red-500 z-40 border-l-4 p-6"
    >
      <div class="w-full text-right">
        <button @click="isOpen = false">
          <icon class="text-gray-900 cursor-pointer" size="1x" :icon="['fas', 'times']" />
        </button>
      </div>
      <div class="pt-3">
        <h1 class="font-bold text-center text-2xl mb-2">Eliminar Curso</h1>
        <span class="text-md">¿Estas seguro que quieres eliminar el curso?</span>
        <div class="flex flex-row justify-center mt-6">
          <Button class="mr-2" variant="secondary" @click="isOpen = false">Cancelar</Button>
          <Button @click="onRemove($event)" variant="danger" fill>Eliminar</Button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Button from '@/components/public/Button.vue';
import { CourseTeacher, PopperMessage, User } from '@/interfaces';
import { profileImage } from '@/utils/resource';
import courseService from '@/services/teacher/course';
import ID from '@/utils/generation';
import { MUTATIONS as MessageMutations } from '@/store/modules/message';
import { MUTATIONS as CourseMutations } from '@/store/modules/tcourse';

export default {
  components: {
    Button,
  },
  data() {
    return {
      isOpen: false,
    };
  },
  computed: {
    teacher(): User {
      const { token, user } = this.$store.state.auth;
      return this.$store.state.auth.user.profile;
    },
  },
  props: {
    course: {
      type: Object as () => CourseTeacher,
      required: true,
    },
  },
  methods: {
    profileImage,

    async onRemove(e: Event): Promise<void> {
      e.preventDefault();

      // Eliminar curso
    },
  },
};
</script>
