<template>
  <div class="border border-gray-400 rounded">
    <div class="bg-white shadow-lg rounded flex flex-row items-center justify-between h-24">
      <div class="flex flex-row items-center">
        <div class="relative pb-20 w-20 inline-block ml-5">
          <img
            class="absolute rounded-full h-full w-full object-cover inline-block"
            :src="student.profileImage"
            alt="Profile Student Picture"
          />
        </div>

        <div class="flex flex-row justify-start ml-5 text-lg">
          <p class="mr-1">{{ student.name }}</p>
          <p class="mr-1">{{ student.firstLastname }}</p>
          <p class="mr-1">{{ student.secondLastname }}</p>
        </div>
      </div>

      <p>{{ student.code }}</p>

      <div class="flex flex-row justify-start">
        <p>Tareas Entregadas:</p>
        <p class="ml-1">{{ student.delivered }}</p>
      </div>

      <div class="mr-5 flex flex-row justify-start">
        <p class="mr-2 font-bold">Calificacion</p>
        <input
          class="w-8 border-b border-gray-500"
          type="text"
          name="0"
          maxlength="3"
          id
          :value="student.calification"
        />
        <p>/100</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { HomeworkPreview, Student } from '@/interfaces';
import { format } from '@/utils/date';

export default {
  props: {
    student: {
      type: Object as () => Student,
      required: true,
    },
  },
  methods: {
    format,
  },
};
</script>
