<template>
  <div class="border border-gray-400 rounded w-11/12">
    <div
      class="bg-white shadow-lg rounded flex flex-row items-center justify-between h-24 text-black"
    >
      <div class="flex flex-row items-center">
        <div class="flex flex-row justify-start ml-5 text-lg">
          <p class="mr-2">{{ student.student.code }}</p>
          <p class="mr-1">{{ student.student.name }}</p>
          <p class="mr-1">{{ student.student.firstLastname }}</p>
          <p>{{ student.student.secondLastname }}</p>
        </div>
      </div>

      <div class="flex flex-row justify-start">
        <p>Archivos:</p>
      </div>

      <div class="mr-5 flex flex-row justify-start">
        <div class="mr-5">
          <p>Entregado: {{ format(student.data.deliveryDate) }}</p>
        </div>
        <p class="mr-2 font-bold">Calificacion</p>
        <input
          class="w-8 border-b border-gray-500"
          type="text"
          name="0"
          maxlength="3"
          id
          :value="student.data.calification"
        />
        <p>/{{ maxCalification }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  HomeworkPreview,
  Student,
  homeworkDelivered,
  HomeworkCalification,
} from '@/interfaces';
import { format } from '@/utils/date';

export default {
  props: {
    student: {
      type: Object as () => HomeworkCalification,
      required: true,
    },
    maxCalification: {
      type: Number,
      default: 0,
    },
  },
  methods: {
    format,
  },
};
</script>
