<template>
  <div>
    <Splash v-if="!loading" />
    <component v-else :is="layout">
      <router-view />
    </component>
    <Popper />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Splash from '@/views/public/Splash.vue';
import Popper from '@/components/Popper.vue';

const defaultLayout = 'default';

export default Vue.extend({
  components: {
    Splash,
    Popper,
  },
  computed: {
    layout(): string {
      return `${this.$route.meta.layout || defaultLayout}-layout`;
    },
    loading(): boolean {
      return this.$store.state.auth.loaded;
    },
  },
});
</script>

<style lang="scss">
@import 'assets/styles/tailwind.postcss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
