@import '~tailwindcss/base.css';

/**
 * This injects any component classes registered by plugins.
 */
@import '~tailwindcss/components.css';

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 * @import 'components/buttons';
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@import '~tailwindcss/utilities.css';

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example:
 * @import 'utilities/background-patterns';
 */

.abs-full {
  @apply absolute bottom-0 left-0 right-0 top-0;
}

input {
  @apply text-sm;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 15px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 4px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a.router-link-exact-active {
  @apply text-blue-500;
}

.fade-out {
  animation: fadeOut 500ms;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal {
  left: 50%;
  transform: translateX(-50%);
  top: 300px;
}
