<template>
  <main>
    <Menu :user="user" class="z-50" />
    <slot />
  </main>
</template>

<script lang="ts">
import Menu from '@/components/private/teacher/Menu.vue';
import { User } from '@/interfaces';
import Vue from 'vue';

export default Vue.extend({
  components: {
    Menu,
  },
  computed: {
    user(): User {
      return this.$store.state.auth.user.profile;
    },
  },
});
</script>
